body{
    text-align: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    font-size: 2em;
    width: 800px;
    margin: 50px auto;
}

img{
    width: 20%;
    height: auto;
}

.btn1{
    font-size: .6em;
    border-radius: 4px;
    background-color: aqua;
    padding-top: 4px;
    cursor: pointer;


}
.btn{
    font-size: .6em;
    border-radius: 4px;
    background-color: aqua;
    padding-top: 4px;
    cursor: pointer;


}